@use '../../../styles/layout';
@use '../../../styles/mixins';

.logoContainer {
  @include mixins.flex-center;

  .logo {
    width: layout.$logo-width;
    height: auto;
    object-fit: contain;
  }
}
