@use '../../../styles/colors';
@use '../../../styles/fonts';

.text {
  font-weight: fonts.$font-weight-regular;

  &.primary {
    font-size: fonts.$font-size-md;
    line-height: fonts.$line-height-loose;
    color: colors.$text-primary;
  }

  &.secondary {
    font-size: fonts.$font-size-sm;
    line-height: fonts.$line-height-normal;
    color: colors.$text-secondary;
  }
}
