@use '../../../../styles/mixins';
@use '../../../../styles/spacing';
@use '../../../../styles/layout';

.contactSection {
  @include mixins.section;

  .sectionContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: spacing.$spacing-xl;
    place-items: center;

    .contactImage {
      width: 500px;
      height: 100%;
      object-fit: contain;
    }
  }
}
