@use '../../../styles/colors';
@use '../../../styles/spacing';
@use '../../../styles/mixins';

.appFooter {
  @include mixins.main-layout;

  padding-block: spacing.$spacing-2xl;
  border-block-start: 1px solid colors.$separator;
  background: colors.$surface;

  .footerContent {
    .sitemapTitle {
      padding-inline: spacing.$spacing-md;
      margin-bottom: spacing.$spacing-md;
    }
  }
}
