@use '../../../styles/colors';
@use '../../../styles/spacing';
@use '../../../styles/mixins';
@use '../../../styles/fonts';

.appFooter {
  @include mixins.main-layout;

  border-block-start: 1px solid colors.$separator;
  background: colors.$surface;

  .footerContent {
    display: flex;
    padding-block: spacing.$spacing-2xl;

    .actionsContainer {
      width: 70%;
    }
  }

  .copyrights {
    padding-block: spacing.$spacing-xs;
    text-align: center;
    font-weight: fonts.$font-weight-semibold;
    letter-spacing: fonts.$letter-spacing-tight;
    background: colors.$primary;
  }
}
