@use '../../../styles/mixins';
@use '../../../styles/colors';
@use '../../../styles/spacing';
@use '../../../styles/layout';
@use '../../../styles/functions';

.appHeader {
  @include mixins.flex-center;
  height: layout.$app-header-height;

  position: sticky;
  top: 0;
  border-block-end: 1px solid colors.$separator;

  background: colors.$surface;
  z-index: functions.layer('medium');

  .navigation {
    .navigationList {
      @include mixins.flex-center;
      flex-direction: row;
      gap: spacing.$spacing-2xl;
    }
  }
}
