@use '../../../styles/mixins';
@use '../../../styles/colors';
@use '../../../styles/layout';
@use '../../../styles/functions';
@use '../../../styles/spacing';

.appHeader {
  @include mixins.flex-center;
  justify-content: space-between;
  height: layout.$app-header-height;
  padding-inline: spacing.$spacing-2xl;

  position: sticky;
  top: 0;
  border-block-end: 1px solid colors.$separator;

  background: colors.$surface;
  z-index: functions.layer('medium');
}
