@use './colors';
@use './fonts';
@use './layout';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: layout.$app-header-height; // Offset for sticky header on scroll-to-target links
}

body {
  font-size: fonts.$font-size-md;
  font-family: fonts.$font-family-primary;
  font-weight: fonts.$font-weight-regular;
  color: colors.$text-primary;

  background: colors.$background;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  font-family: inherit;
  background: transparent;
  cursor: pointer;
}

input,
textarea,
select {
  all: unset;

  font-size: inherit;
  font-family: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}
