@use './spacing';
@use './colors';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin section {
  min-height: 100dvh;
}

@mixin cards-grid($card-min-width: 320px, $gap: spacing.$spacing-2xl) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($card-min-width, 1fr));
  gap: $gap;

  align-self: center;
}
