@use '../../../styles/colors';
@use '../../../styles/spacing';
@use '../../../styles/fonts';
@use '../../../styles/layout';

.button {
  padding: spacing.$spacing-sm spacing.$spacing-md;
  border-radius: layout.$border-radius-sm;

  font-size: fonts.$font-size-sm;
  font-weight: fonts.$font-weight-medium;
  text-align: center;

  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }

  &.primary {
    border: 1px solid colors.$primary;
    color: white;
    background: colors.$primary;

    &:hover {
      background: colors.$primary-hover;
      border-color: colors.$primary-hover;
    }
  }

  &.secondary {
    border: 1px solid rgba(47, 129, 247, 0.3);
    color: colors.$primary;
    background: transparent;

    &:hover {
      border-color: colors.$primary;
      color: white;
      background: colors.$primary;
    }
  }

  &.link {
    $transition-duration: 0.3s;

    position: relative;
    color: colors.$text-primary;
    font-weight: fonts.$font-weight-medium;
    transition: color $transition-duration ease;

    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 50%;

      width: 0;
      height: 1px;

      background: colors.$primary;
      transform: translateX(-50%);
      transition: width $transition-duration ease;
    }

    &:hover {
      color: colors.$primary;
      transform: translateY(0px);

      &::after {
        width: 80%;
      }
    }
  }
}
