.mainLayout {
  $side-margins-width: 150px;

  display: grid;
  grid-template-columns: $side-margins-width 1fr $side-margins-width;

  > *:not(.full-row) {
    grid-column: 2;
  }

  > .full-row {
    grid-column: 1 / -1;
  }
}
