@use '../../../styles/mixins';
@use '../../../styles/colors';
@use '../../../styles/spacing';
@use '../../../styles/fonts';
@use '../../../styles/borders';

.appHeader {
  position: sticky;
  top: 0;
  border-block-end: 1px solid colors.$header-border;

  background: colors.$surface;
  z-index: 9999;

  .navigation {
    padding: spacing.$spacing-lg spacing.$spacing-2xl;
  }

  .navigationList {
    @include mixins.flex-center;
    flex-direction: row;
    gap: spacing.$spacing-2xl;
  }

  .navigationLink {
    color: colors.$text-primary;
    text-decoration: none;
    font-size: fonts.$font-size-md;
    font-weight: fonts.$font-weight-medium;
    padding: spacing.$spacing-sm spacing.$spacing-lg;
    border-radius: borders.$border-radius-sm;
    transition: all 0.2s ease;

    &:hover {
      color: colors.$primary;
      background: rgba(colors.$primary, 0.1);
    }
  }
}
