@use '../../../styles/mixins';
@use '../../../styles/colors';
@use '../../../styles/spacing';
@use '../../../styles/fonts';
@use '../../../styles/borders';

.appHeader {
  position: sticky;
  top: 0;
  border-block-end: 1px solid colors.$header-border;

  background: colors.$surface;
  z-index: 9999;

  .navigation {
    padding: spacing.$spacing-lg spacing.$spacing-2xl;

    .navigationList {
      @include mixins.flex-center;
      flex-direction: row;
      gap: spacing.$spacing-2xl;

      .navigationLink {
        $transition-duration: 0.3s;

        position: relative;
        padding: spacing.$spacing-sm spacing.$spacing-lg;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;

          width: 0;
          height: 1px;

          background: colors.$primary;
          transform: translateX(-50%);
          transition: width $transition-duration ease;
        }

        &:hover {
          .navigationLabel {
            color: colors.$primary;
          }

          &::after {
            width: 80%;
          }
        }

        .navigationLabel {
          font-weight: fonts.$font-weight-medium;
          transition: color $transition-duration ease;
        }
      }
    }
  }
}
