@use './colors';

body {
  font-family: 'Inter', sans-serif;
  background-color: colors.$background;
  color: colors.$text-primary;
  scroll-behavior: smooth;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}
